.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.steps h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.faq h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

@media (prefers-color-scheme: dark) {
  .faq h3,
  .steps h3,
  .title h3 {
    color: #fff;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .faq h3 {
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 32px;
  }

  .steps h3 {
    margin-bottom: 42px;
  }

  .steps h3,
  .why_us h3 {
    font-size: 26px;
    line-height: 150%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
